<form action="/partys/<%= party._id %>/update" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= party.name %>">

  <label for="price">Price</label>
  <input type="number" name="price" id="price" value="<%= party.price %>">

  <label for="image-url">Image URL</label>
  <input type="text" name="imageUrl" id="image-url" value="<%= party.imageUrl %>">

  <label for="description">Description</label>
  <textarea type="text" name="description" id="description"><%= party.description %></textarea>

  <button type="submit">Edit party</button>
</form>
