
<br><br>
    <br>
<br><br>
    <div id="map"></div>
  <br>
  <hr>

    <button id="myButton" class="host-event" >Host an event</button>
    <div>

                  <% partys.forEach((party) => { %>
              <div class="container single-event-listing">
                      <a class="event-link"href="/partys/<%= party._id %>"><%= party.partyName %> </a>
                      <p class="event-price"><strong>Price per person:</strong> $<%= party.partyPrice %> </p>
                      <p class="event-detail"><strong>Description:</strong> <%= party.partyDescription %> </p>
                      <p class="event-detail"><strong>Address:</strong> <%= party.partyLocation %> </p>
                      <!-- <a href="/partys/<%= party._id %>/edit">Edit</a> -->
                      <!-- <a href="/partys/<%= party._id %>/delete">Delete</a> -->
              </div>
              <br>
                  <%})%>

        </div>



    <!-- scripts -->
    <script type="text/javascript">
      document.getElementById("myButton").onclick = function () {
          location.href = "partys/new";
      };
  </script>
    <script type="text/javascript">
     var myPartys = [<%- partys %>];
     </script>

        <script type="text/javascript">
          var lat = <%- lat %>;
          var lng = <%- lng %>;
          console.log(lat, lng)
        </script>

  </body>
